<section class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 mx-auto">
                <div class="card padding-card">
                    <div class="card-body">
                        <h5 class="card-title mb-4">Actualizar contraseña</h5>
                        <form asp-action="UpdatePassword">
                            @if (ViewBag.Message != null)
                            {
                                <span style="color: darkblue; ">@ViewBag.Message</span>
                            }
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-floating  mb-3">
                                <label for="password" class="d-flex align-items-center py-0">Contraseña</label>
                                <input type="password" class="form-control fs-13px h-45px" required="" id="password" name="password" value="" placeholder="Contraseña" autocomplete="off" />
                            </div>
                            <div class="form-floating  mb-3">
                                <label for="password" class="d-flex align-items-center py-0">Reescribe Contraseña</label>
                                <input type="password" class="form-control fs-13px h-45px" required="" id="password2" name="password2" value="" placeholder="Contraseña" autocomplete="off" />
                            </div>
                            <div class="login-buttons">
                                <button type="submit" class="btn h-45px btn-success d-block w-100 btn-lg">Actualizar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>