@model Autrisa.Models.LendingOperation

@{
    ViewData["Title"] = "Agregar Movimientos";
}

<div class="col-12">
    <form asp-action="Create" enctype="multipart/form-data">
        <div class="card border rounded-3">
            <div class="card-header  border-bottom p-3">
                <div class="d-sm-flex justify-content-between align-items-center">
                    <h5 class="mb-2 mb-sm-0">Agregar Movimientos</h5>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="col-md-4">
                        @*<div class="form-group">
                            <label asp-for="AccountId" class="control-label"></label>
                            <select asp-for="AccountId" class="form-select" asp-items="@ViewBag.AccountId"></select>
                            <span asp-validation-for="AccountId" class="text-danger"></span>
                        </div>*@
                        <input type="hidden" name="LendingId" value="@ViewBag.LendingId" />
                        <div class="form-group">
                            <label asp-for="Type" class="control-label"></label>
                            <select name="Type" id="Type" class="form-select">
                                <option value="0">Salida de dinero</option>
                                <option value="1">Ingreso de dinero</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label asp-for="Modality" class="control-label"></label>
                            <select name="Modality" id="Modality" class="form-select">
                                <option value="0">Transferencia</option>
                                <option value="1">Cheque</option>
                                <option value="2">Efectivo</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label asp-for="OperationDate" class="control-label"></label>
                            <input asp-for="OperationDate" class="form-control" type="text" required />
                            <span asp-validation-for="OperationDate" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Amount" class="control-label"></label>
                            <input asp-for="Amount" class="form-control" type="text" required />
                            <span asp-validation-for="Amount" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Description" class="control-label"></label>
                            <input asp-for="Description" class="form-control" type="text" required />
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer  border-bottom p-3">
                <div class="d-sm-flex justify-content-between align-items-center">
                    <button class="btn btn-sm btn-info" onclick="history.back()"><i class="fa-solid fa-arrow-left"></i> Regresar</button>
                    <button class="btn btn-sm btn-primary"  type="submit" id="btnSave"><i class="fa-solid fa-floppy-disk"></i>  Agregar </button>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <link href="~/assets/vendor/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
    <script src="~/assets/vendor/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/assets/vendor/jquery-ui/jquery.ui.datepicker-es.js"></script>

    <script>
        $.datepicker.setDefaults($.datepicker.regional["es"]);

        $(document).ready(function () {

            $("#OperationDate").datepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat: "dd/mm/yy"
            });

            $("form").submit(function (event) {
                $("#btnSave").html('<i class="fa-solid fa-spinner fa-spin-pulse"></i> Procesando');
                $("#btnSave").prop('disabled', true);
            });
        });
    </script>
    }