@model Autrisa.Models.User

@{
    ViewData["Title"] = "Edit";
}

<div class="col-12">
    <form asp-action="Edit">
        <div class="card border rounded-3">
            <div class="card-header  border-bottom p-3">
                <div class="d-sm-flex justify-content-between align-items-center">
                    <h5 class="mb-2 mb-sm-0">Usuarios</h5>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="UniqueId" />                        
                        <div class="form-group">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Email" class="control-label"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" asp-for="Enabled">
                            <label class="form-check-label" for="flexCheckDefault">
                                Habilitado
                            </label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <table id="listTable" class="table align-middle mb-0 table-hover table-shrink">
                            <thead class="table-dark">
                                <tr>
                                    <th scope="col" class="border-0 rounded-start">
                                        Rol
                                    </th>
                                    <th scope="col" class="border-0 rounded-end"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in ViewBag.AuthRoles)
                                {
                                    var checked1 = "";
                                    <tr>
                                        <td>
                                            @item.Name
                                        </td>
                                        <td>
                                            <div class="form-check">
                                                @foreach (var rol in ViewBag.AuthUserRoles)
                                                {
                                                    if (rol.AuthRoleId == item.Id)
                                                    {
                                                        checked1 = "checked";
                                                        break;
                                                    }
                                                }
                                                <input class="form-check-input" type="checkbox" value="@item.Id" name="Roles[]" @checked1>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    </div>

                </div>
            </div>
            <div class="card-footer  border-bottom p-3">
                <div class="d-sm-flex justify-content-between align-items-center">
                    <a class="btn btn-sm btn-info" asp-action="Index"><i class="fa-solid fa-arrow-left"></i> Regresar</a>
                    <button class="btn btn-sm btn-primary" type="submit"> <i class="fa-solid fa-floppy-disk"></i> Grabar </button>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }