@using Autrisa.Helpers
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    var settings = HttpContextAccessor.HttpContext.Session.GetSettings();
}
<nav class="navbar navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" href="/">
            <span class="light-mode-item navbar-brand-item">
                <img src="/settings/images/@settings["logo_color"]" class="img-fluid" style="max-height: 37px;" />
            </span>
        </a>
        <button class="navbar-toggler ms-auto icon-md btn btn-light p-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-animation">
                <span></span>
                <span></span>
                <span></span>
            </span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            @await Component.InvokeAsync("Navigation")
        </div>
        <ul class="nav flex-nowrap align-items-center ms-sm-3 list-unstyled">
            <li class="nav-item ms-2 dropdown">
                <a class="btn btn-primary-soft" href="#" id="profileDropdown" role="button" data-bs-auto-close="outside" data-bs-display="static" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-user"></i> @ViewBag.UserName <i class="fa-solid fa-angle-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-animation dropdown-menu-end pt-3 small me-md-n3" aria-labelledby="profileDropdown">
                    <li><a class="dropdown-item bg-danger-soft-hover" href="/UpdatePassword"><i class="fa-solid fa-unlock"></i> Actualizar contraseña</a></li>
                    <li><a class="dropdown-item bg-danger-soft-hover" href="/Logout"><i class="bi bi-power fa-fw me-2"></i>Salir</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
