<!-- agilex -->
<ul class="navbar-nav navbar-nav-scroll ms-auto">

    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="Accounts" asp-action="Index">Cuentas</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="Operations" asp-action="Index">Movimientos</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-bs-toggle="dropdown" aria-expanded="false">Usuarios</a>
        <ul class="dropdown-menu" aria-labelledby="dropdown01">
            <li><a class="dropdown-item" asp-area="Security" asp-controller="AuthUsers" asp-action="Index">Usuarios</a></li>
            <li><a class="dropdown-item" asp-area="Security" asp-controller="AuthRoles" asp-action="Index">Roles</a></li>
            <li><a class="dropdown-item" asp-area="Security" asp-controller="Settings" asp-action="Index">Configuración</a></li>

        </ul>
    </li>
</ul>