<!-- agilex -->
<ul class="navbar-nav navbar-nav-scroll ms-auto">

    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="Accounts" asp-action="Index">Cuentas</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="Operations" asp-action="Index">Mov. Bancarios</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="Lendings" asp-action="Index">Préstamos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="Investments" asp-action="Index">Inversiones</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="Properties" asp-action="Index">Predios</a>
    </li>
    @if (ViewBag.UserRole == "admin")
    {
        <li class="nav-link">
            <a class="nav-link" asp-area="Security" asp-controller="Users" asp-action="Index">Usuarios</a>
        </li>
    }

    @*<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-bs-toggle="dropdown" aria-expanded="false">Usuarios</a>
    <ul class="dropdown-menu" aria-labelledby="dropdown04">
    <li></li>
    <li><a class="dropdown-item" asp-area="Security" asp-controller="AuthRoles" asp-action="Index">Roles</a></li>
    <li><a class="dropdown-item" asp-area="Security" asp-controller="Settings" asp-action="Index">Configuración</a></li>
    </ul>
    </li>*@
</ul>